services:
    postgres:
        # you can connect with e.g.
        # psql -h localhost -p 5555 -U postgres -d db
        image: postgres
        restart: always
        volumes:
            - postgres_data:/var/lib/postgresql/data
        ports:
            - "5557:5432"
        environment:
            POSTGRES_DB: db
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres

    redis:
        image: redis:alpine
        restart: always
        volumes:
            - redis_data:/data
        ports:
            - "6380:6379"
            
volumes:
    postgres_data:
    redis_data:
            