@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Argesta Display';
    src: url('/font/Argesta-Display-Regular-web/argestadisplay-regular-webfont.eot');
    src: url('/font/Argesta-Display-Regular-web/argestadisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/Argesta-Display-Regular-web/argestadisplay-regular-webfont.woff2') format('woff2'),
         url('/font/Argesta-Display-Regular-web/argestadisplay-regular-webfont.woff') format('woff'),
         url('/font/Argesta-Display-Regular-web/argestadisplay-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@layer utilities {  
  .font-argesta {
    font-family: 'Argesta Display', sans-serif !important;
  }
} 